@font-face {
  font-family: "AvertaStd-Semibold";
  src: url("//db.onlinewebfonts.com/t/aef2da2daa6e15be44ff1a2706cc61a1.eot");
  src: url("//db.onlinewebfonts.com/t/aef2da2daa6e15be44ff1a2706cc61a1.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/aef2da2daa6e15be44ff1a2706cc61a1.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/aef2da2daa6e15be44ff1a2706cc61a1.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/aef2da2daa6e15be44ff1a2706cc61a1.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/aef2da2daa6e15be44ff1a2706cc61a1.svg#AvertaStd-Semibold")
      format("svg");
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

 
}

.bord1 {
  position: absolute;
  margin: -500px -400px;
  width: 783px;
  height: 783px;
  transform: rotate(-60deg);

  background: #1e67e3;

  border-radius: 0 0 70% 70%;
}

.bord2 {
  position: absolute;
  width: 1920px;
  height: 593px;
  margin-top: 350px;
  margin-left: -300px;
  border-radius: 90% 0 0 0;
  background: #edeeff;
}

.loginBg {
  position: absolute;
  left: 15%;
  top: 25px;
  overflow: hidden;
  width: 1100px;
  height: 570px;
  background: #04317e;
  box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.links {
 
 width:600px;;
padding:10px;
letter-spacing:0.3rem;
 margin:1vh auto;
 opacity:0.75;
 color:#fff;
 text-align:center;
 font-family:AvertaStd-Semibold;
 font-size:22px;
  background: #011943;
  border-radius: 10px;
}





.loginBox {
  position: absolute;
  width: 600px;
  height: 330px;
  left: 31%;
  top: 230px;
  z-index: 3;
  background: #ffffff;
  box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.emailBox,
.passwordBox {
  margin-left: 30px;
  margin-bottom: 20px;
  background: #edf3fc;
  border-radius: 6px;
  border: none;
  font-family: AvertaStd-Semibold;
  line-height: 27px;
  font-size: 18px;
  width: 263px;
  letter-spacing: 0.03em;
  height: 55px;
}

.loginBox div {
  background: #ffffff;
}

.loginBox div input::placeholder {
  font-family: AvertaStd-Semibold;
  padding-left: 20px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.03em;

  color: rgba(0, 0, 0, 0.6);
}

.loginBoxHeading {
  font-family: AvertaStd-Semibold;
  font-size: 21px;
  height: 29px;
  margin: 20px 0 15px 30px;
  letter-spacing: 0.03em;
  background: #fff;

  color: #04307c;
}

.loginIcon {
  position: absolute;
  height: 20px;
  width: 20px;
  background: #1e67e3;
  top: 232px;
  left: 200px;
  bottom: 25%;
}

.loginBtn {
  margin-left: 30px;
  color: #fff;
  margin-bottom: 20px;
  background: #1e67e3;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-family: AvertaStd-Semibold;
  line-height: 27px;
  font-size: 18px;

  width: 263px;
  letter-spacing: 0.03em;
  height: 55px;
}

.loginBtn:hover {
  box-shadow: 1px 1px 2px black;
}

.loginBoxIcon {
  position: absolute;
  left: 300px;
  height: 300px;
  width: 280px;
  top: 20px;

  background: #fff;
}

.mainHeading {
  font-family: AvertaStd-Semibold;

  left: 30%;
  top: 100px;
  font-size: 23px;
  line-height: 68px;
  letter-spacing: 0.03em;
  position: absolute;
  line-height: 76px;
  letter-spacing: 0.19em;

  color: #ffffff;

  text-shadow: 3.81818px 3.81818px 6.68182px rgba(0, 0, 0, 0.25);
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  background: #04307c;
}

.mainHeadingTag {
  margin-top: 30px;
  background: #04307c;
  height: 50px;
  user-select: none;
}

.alphalyteLogo {
  position: absolute;
  top: 35px;
  height: 70px;
  background: #04307c;
  width: 70px;
  left: 68%;
}

.forgetp {
  position: absolute;
  left: 13%;
  font-family: AvertaStd-Regular;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;

  color: #1e67e3;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.minuteLogos {
  height: 35px;
  background: #04307c;
}

.finalBg {
  background: #edeeff;
  position: absolute;
  top: 301px;
  left: -400px;
  height: 700px;
  width: 4000px;

  border-radius: 56.9% 0 0 0;
}
