
.fullTable {
  width: 93.9%;
  /* border: 2px solid red; */
  margin-left: 4em;
}

.TableHeadK {
  background: #0759e4;
  margin-top: 40px;
  border-radius: 6px 6px 0px 0px;
  width: 100%;

  /* margin-left: 4em; */
  display: flex;
}
.TableHeadK p {
  margin-left: 20px;
  font-family: AvertaStd-Semibold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.GroupSelectK {
  
  margin-left: 22.2rem;
  font-family: AvertaStd-Semibold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  outline: none;
  border: none;
  height: 30px;
  padding-left: 15px;
}
.ExactlySelectK {
  margin: 10px 0;
  margin-left: 1rem;
  font-family: AvertaStd-Semibold;
  font-size: 16px;
  line-height: 18px;
  padding-left: 15px;
  outline: none;
  border: none;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  height: 30px;
  width: 110px;
}

.SearchIconK {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  margin: 10px 0 10px 1rem;
  padding-left: 4px;
  height: 28px;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 6px 0 0 6px;
}

.SearchBoxK {
  margin: 10px 0;
  background: #ffffff;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
  border-radius: 0 6px 6px 0px;
  height: 28px;
  outline: none;
  border: none;
  width: 170px;
  font-family: AvertaStd-Semibold;
  font-size: 16px;
  padding-left: 10px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
}

.RefreshIconK {
  color: #fff;
  font-size: 24px;
  margin: 12px 0 0 13px;
  cursor: pointer;
}

/* _____________________________________________Table Body___________________________________ */

.usergrouptable {
  font-family: arial, sans-serif;
  /* margin-left: 4em; */

  border-collapse: collapse;
  /* margin-top: 4em; */
  outline: none;
  width: 80.86%;
  outline: none;
  overflow-x: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 6px 6px;
  /* margin-top: 20px; */
}

.tableOut {
  overflow-x: auto;
}

.usergrouptable th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-family: AvertaStd-Semibold;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.02em;
  background: #4285f4;
  color: #fff;
  font-weight: 1;
}
.usergrouptable td {
  text-align: center;
  padding: 10px;
  border: 1.5px solid rgba(0, 0, 0, 0.646);
  text-align: center;
  font-family: Avertastd-Semibold;
  background: #fff;
  color: #000;
  font-weight: 1;
}
